<div class="mt-4 p-4">
    <h3>Dang Khoa Hoc</h3>
    <form method="POST" action="/courses/store">
    
    <div class="mb-3">
        <label for="name" class="form-label">Ten Khoa Hoc</label>
        <input type="text" name="name" class="form-control" id="name" >
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Mo Ta</label>
        <input type="text" name="description" class="form-control" id="description" >
    </div>

    <div class="mb-3">
        <label for="videoId" class="form-label">Video Id</label>
        <input type="text" name="videoId" class="form-control" id="videoId" >
    </div>

    <div class="mb-3">
        <label for="level" class="form-label">Level</label>
        <input type="text" name="level" class="form-control" id="level" >
    </div>
    
    
    <button type="submit" class="btn btn-primary">Them Khoa Hoc</button>
</form>
</div>